* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

.body {
    padding: 10px;
}

header {
    height: 150px;
    background-color: yellow;
}

aside {
    width: 25%;
    height: 350px;
    padding: 10px;
    float: left;
}

.contenitore {
    height: 100%;
}

aside .contenitore {
    background-color: violet;
}

main {
    width: 50%;
    height: 500px;
    padding: 10px;
    float: left;
}

main .contenitore {
    background-color: purple;
}

aside-destra {
    width: 25%;
    height: 450px;
    padding: 10px;
    float: left;

}

.contenitore-destra {
    height: 100%
}

.quadrato {
    width: 100%;
    height: 50%;
    padding-bottom: 10px;

}

.contenitore-quadrato {
    height: 100%;
    background-color: violet;
}

footer {
    height: 50px;
    background-color: lightblue;
}
